.nm_container{
    left: 0;
    min-height: calc(100vh - 40px);
    justify-content: left;
    display: flex;
    background-color: rgb(56, 149, 192);
    width: 350px;
    font-size: 1.5em;
    padding: 20px;
}

.menu_item{
    margin: 20px;
    list-style:circle;
}